body{
    text-align: center;
    color: azure;
    background-color: bisque;
}

h1{
    text-emphasis: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

h2{
    text-rendering: geometricPrecision;
}

p{
    font-size: medium;
    font-weight: 500;
    font-style: oblique;
    font-stretch: extra-expanded;
    color: black;
    text-indent: 55px;
}